In [2]:
import pandas as pd

df = pd.read_csv('animal-service-intake-and-outcome-1.csv')

df.tail()

,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,SecondaryColor,...,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome
150837,A591486,DOG,2016-06-02 14:48:00,OWNER SUR,OTC,YELLOW BRINDLE,GREYHOUND,MIX,NEUTERED MALE,NaN,...,NORMAL,HEALTHY,FERTILE,2016-06-25 16:22:00,ADOPTION,FRIEND,NaN,NORMAL,HEALTHY,ALTERED
150838,A523743,DOG,2014-04-16 12:05:00,STRAY,OTC,CREAM,CAIRN TERRIER,NaN,SPAYED FEMALE,NaN,...,NORMAL,HEALTHY,FERTILE,2014-04-23 15:11:00,ADOPTION,INTERNET,NaN,NORMAL,HEALTHY,ALTERED
150839,A369002,DOG,2013-01-23 13:59:00,STRAY,OTC,BLACK,MINIATURE PINSCHER,NaN,NEUTERED MALE,BROWN,...,NORMAL,HEALTHY,ALTERED,2013-01-31 14:52:00,TRANSFER,KHS,NaN,NaN,HEALTHY,ALTERED
150840,A439252,CAT,2016-08-01 17:43:00,STRAY,FIELD,BLACK TABBY,DOMESTIC MEDIUMHAIR,NaN,SPAYED FEMALE,WHITE,...,EMACIATED,HEALTHY,ALTERED,2016-08-02 14:26:00,RTO,IN KENNEL,NaN,NaN,HEALTHY,ALTERED
150841,A424601,CAT,2013-07-19 13:02:00,ET REQUEST,SICK,GRAY,DOMESTIC SHORTHAIR,NaN,SPAYED FEMALE,WHITE,...,INJURED,HEALTHY,ALTERED,2013-07-19 23:59:00,EUTH,REQUESTED,NaN,NaN,HEALTHY,ALTERED

In [12]:
df.loc[86652]
df = df[pd.notnull(df['OutcomeDate'])]
df = df[pd.notnull(df['IntakeDate'])]

In [13]:
from datetime import datetime
FMT = '%Y-%m-%d %H:%M:%S'
df['TimeInShelter'] = df.apply(lambda x: datetime.strptime(x['OutcomeDate'], FMT) - datetime.strptime(x['IntakeDate'], FMT), axis=1)

In [14]:
df.head()

,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,SecondaryColor,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,TimeInShelter
0,A366370,CAT,2008-11-07 10:50:00,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,BROWN,...,HEALTHY,ALTERED,2008-11-12 15:46:00,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED,5 days 04:56:00
1,A366531,CAT,2008-11-10 10:20:00,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,NaN,...,HEALTHY,UNKNOWN,2008-11-19 20:10:00,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN,9 days 09:50:00
2,A532367,BIRD,2014-07-23 23:21:00,CONFISCATE,CRUELTY,RED,CHICKEN,NaN,MALE,BLACK,...,HEALTHY,FERTILE,2014-11-05 15:49:00,TRANSFER,NaN,NaN,NaN,HEALTHY,FERTILE,104 days 16:28:00
3,A532474,OTHER,2014-07-24 18:29:00,ET REQUEST,NaN,BROWN,BAT,NaN,UNKNOWN,NaN,...,HEALTHY,UNKNOWN,2014-07-24 23:59:00,EUTH,MEDICAL,NaN,OTHER,HEALTHY,UNKNOWN,0 days 05:30:00
4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,BROWN,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0 days 19:34:00